body {
font-family: 'Poppins', sans-serif;
background-color: #fffaf3;
color: #333;
}

.navbar h1 {
font-size: 1.5rem;
font-weight: 700;
}

.page-header {
background-color: #ff7f11;
color: white;
text-align: center;
}

.page-header h1 {
font-weight: 700;
}

.section-title {
text-align: center;
font-weight: 700;
margin-top: 40px;
margin-bottom: 30px;
color: #333;
}

.law-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
padding: 40px 20px;
}

.law-box {
flex: 1 1 400px;
background-color: #fff;
border-left: 6px solid #ff7f11;
border-radius: 12px;
padding: 25px 30px;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease-in-out;
}

.law-box:hover {
transform: translateY(-5px);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.law-box h3 {
font-weight: 700;
font-size: 1.3rem;
color: #333;
}

.law-box h5 {
color: #ff7f11;
font-weight: 600;
margin-bottom: 10px;
}

.law-box p {
font-size: 0.95rem;
color: #333;
}

footer {
background-color: #222;
color: white;
padding: 15px;
text-align: center;
font-size: 0.9rem;
}

.btn-back {
background-color: #fff;
color: #ff7f11;
border: 2px solid #ff7f11;
border-radius: 50%;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.3s;
}

.btn-back:hover {
background-color: #ff7f11;
color: white;
}

.law-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}